@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Caveat+Brush&display=swap');
*{
    color: #0e00fe;
    font-family: 'Caveat Brush', cursive;
    margin: 0px;
    padding: 0px;
}

.bar ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    height: 80px;
    background-color: #75E6FF;
}

.bar{
    position: fixed;
    top: 0;
    width: 100%;
}

a{
    text-decoration: none;
    color: black;
    border: 1px black solid;
    font-size: 30px;
    font-family: 'Amatic SC', cursive;
    background-color: #9affd3;
    padding: 5px;
}

div{
    font-family: 'Caveat Brush', cursive;;
    color: #0e00fe;
}
div h1{
    font-size: 60px;
    text-align: center;
} 

div p{
    font-size: 35px;

}

#pic{
    position:absolute;
    top:250px;
    right: 0px;
    height: 400px;
    width: 400px;
}

body{
    animation: hello 60s infinite;
}

@keyframes hello{
    0%{background-color: #a8efff;}
    10%{background-color:#7be3fa;}
    20%{background-color:#5adaf7;}
    30%{background-color:#22d2fa;}
    40%{background-color:#14d4ff;}
    50%{background-color:#00cefc;}
    60%{background-color:#00cefc;}
    70%{background-color:#14d4ff;}
    80%{background-color:#22d2fa;}
    90%{background-color:#5adaf7;}
    100%{background-color:#a8efff;}
}